<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
    <title>Nashik Dekho</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
        * {
            font-family: "Montserrat";
        }
        
        .nav-color-c {
            background: rgb(87, 230, 218);
            background: linear-gradient(137deg, rgba(87, 230, 218, 1) 0%, rgba(60, 178, 156, 1) 25%, rgba(46, 128, 151, 1) 83%, rgba(29, 119, 105, 1) 100%);
        }
        
        .btn-space {
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <%- body %>
        <hr>
        <section style="background: rgb(80, 213, 183);
        background: linear-gradient(
          137deg,
          rgba(80, 213, 183, 1) 0%,
          rgba(6, 125, 104, 1) 100%
        );">
            <article class="py-5  text-center">
                <div>
                    <h2 class="dislay-4 text-white">+91 98765 98765</h2>
                    <h5>Want To Plan a Customized Trip In Nashik? <br> Call Us Now for Best Service!</h5>
                </div>
            </article>
        </section>
        <footer class="page-footer font-small special-color-dark pt-4">
            <!-- Footer Elements -->
            <div class="container">
                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                            <i class="fab fa-google-plus-g"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                            <i class="fab fa-linkedin-in"> </i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->
            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a href="https://github.com/yashgkar">
        Yash Garudkar
      </a>
            </div>
            <!-- Copyright -->
        </footer>
        <script src="https://kit.fontawesome.com/886b785cd6.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>